Administrator/Service References/AutoServis/AutoServis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutoServis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutoServis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PodaciAutomobila">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PodatakAutomobila" nillable="true" type="tns:PodatakAutomobila" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PodaciAutomobila" nillable="true" type="tns:PodaciAutomobila" />
  <xs:complexType name="PodatakAutomobila">
    <xs:sequence>
      <xs:element minOccurs="0" name="cena_popravke" type="xs:double" />
      <xs:element minOccurs="0" name="id_automobila" type="xs:int" />
      <xs:element minOccurs="0" name="id_popravke" type="xs:int" />
      <xs:element minOccurs="0" name="korisnicko_ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="podaci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PodatakAutomobila" nillable="true" type="tns:PodatakAutomobila" />
</xs:schema>